@blockrise:registry=https://europe-west4-npm.pkg.dev/blockrise-capital/npm/
//europe-west4-npm.pkg.dev/blockrise-capital/npm/:_password=${GAUTH_PWD}
//europe-west4-npm.pkg.dev/blockrise-capital/npm/:username=_json_key_base64
//europe-west4-npm.pkg.dev/blockrise-capital/npm/:email=not.valid@email.com
//europe-west4-npm.pkg.dev/blockrise-capital/npm/:always-auth=true
